DATABASE_URL="file:./prisma/database.db"
DEEPSEEK_API_KEY=
GROQ_API_KEY=
OPENAI_API_KEY=
OWNER_NUMBER=
BOT_NUMBER=
OWNER_LID=

# API Keys (Moved from config.js)
XTEAM_API_KEY=
LOLHUMAN_API_KEY=
NEOXR_API_KEY=
VIOLETICS_API_KEY=
ZENZ_API_KEY=
FGMODS_API_KEY=
CUKI_API_KEY=
SANKAVOLEREII_API_KEY=

# API Keys (Moved from settings.js)
GIPHY_API_KEY=
